
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f8ff;
  }

  .header {
    font-size: 3rem;
    color: #ff6347;
    margin-bottom: 20px;
  }
  

  .card {
    background-color: #ffffe0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
  }
  
 
  .problem {
    font-size: 2.5rem;
    color: #2e8b57;
  }
  

  .input {
    font-size: 2rem;
    padding: 10px;
    margin: 20px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border: 2px solid #ff6347;
  }
  

  .button {
    font-size: 1.5rem;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }
  

  .feedback {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6347;
    margin-top: 20px;
  }
  

  .keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  

  .keyButton {
    font-size: 2rem;
    padding: 15px;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-color: #2e8b57;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  